{{#if sessiondata.name}}
<h1>Hi, {{sessiondata.name}}!</h1>
<form action="/session/logout" method="post">
    <button name="logout">Logout</button>
</form>
{{else}}
<h1>Log-in</h1>
<form id="login-form" action="session/login" method="POST">
  <input name="username" type="text" placeholder="Username" required>
  <br>
  <input name="password" type="password" placeholder="Password" required>
  <br>
  <input type="submit" value="Submit">
<br>
<a href="users/new"><h2>SignUp</h2></a>
</form>
{{/if}}