<!-- <div class="jumbotron text-center">
    <h1>Bunch o exercises</h1>
		<p>{{status}}</p>
    <p>{{exercises}}</p>
</div> -->
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="muscle_name">Primary Muscle</option>
  <option value="exercise_name">Exercise Name</option>
   <option value="bodypart_name">Bodypart Name</option>
</select>

<!--  <li ng-repeat="exercise in exercises | filter:query | orderBy:orderProp">
 	<a href="/#/exercises/{{exercise._id}}">
	  <div id="each-exercise">
	  <p>{{exercise.exercise_name}}</p> 
	  <p>{{exercise.muscle_name}}</p>
	  <p>{{exercise.bodypart_name}}</p>
	</div>
	</a>
</li> 
 -->
<!-- 
<table ng-table="tableParams" class="table">

    <tr ng-repeat="exercise in $data | filter:query | orderBy:orderProp">
		  <td data-title="Exercise Name"><a href="/#/exercises/{{exercise._id}}">{{exercise.exercise_name}}</a></td> 
		  <td data-title="Primary Muscle"><a href="/#/exercises/{{exercise._id}}">{{exercise.muscle_name}}</a></td>
		  <td data-title="Muscle Group"><a href="/#/exercises/{{exercise._id}}">{{exercise.bodypart_name}}</a></td>
    </tr>
</table> -->


<table id="ex-table" class="table">
  <tr>
    <th>Exercise Name</th>
    <th>Primary Muscle</th> 
    <th>Muscle Group</th>
  </tr>
  <tr ng-repeat="exercise in exercises | filter:query | orderBy:orderProp">
		  <td><a href="/#/exercises/{{exercise._id}}">{{exercise.exercise_name}}</a></td> 
		  <td><a href="/#/exercises/{{exercise._id}}">{{exercise.muscle_name}}</a></td>
		  <td><a href="/#/exercises/{{exercise._id}}">{{exercise.bodypart_name}}</a></td>
  </tr>
</table>