<div class="jumbotron text-center">
    <h3>User Sign-up</h3>
	<form id="user-signup" ng-submit="addUser()">
	<input class="signup-input-field" ng-model="user.name" type="name" name="name" placeholder="Name" /><br>
	<input class="signup-input-field" ng-model="user.startWeight" type="number" name="startWeight" placeholder="Weight" /><br>
	<input class="signup-input-field" ng-model="user.startBodyfat" type="number" name="startBodyfat" placeholder="Bodyfat" /><br>
	<input class="signup-input-field" ng-model="user.username" type="username" name="username" placeholder="Username" /><br>
	<input class="signup-input-field" ng-model="user.password" type="password" name="password" placeholder="Password" /><br>
	<input class="signup-input-field" ng-model="user.email" type="email" name="email" placeholder="Email" /><br>

	<input id = "signup-form-button" type="submit" value="Submit" />
</form>
</div>

