<div id="userbar">
	{{#if sessiondata.name}}
	<div id="userbar-left">
	<h2>Hi, {{sessiondata.name}}!</h2>
	</div>
	
	<div id="userbar-right">
		<form action="/session/logout" method="post">
    <button name="logout">Logout</button>
		</form>
	</div>
	{{else}}
	<div id="userbar-left">
		<div id="login-header">
			<h2>Log-in</h2>
		<div id="error-message">
			<p>{{errormessage}}</p>
		</div>
	</div>
	<form id="login-form" action="session/login" method="POST">
		<input class="text-input" name="username" type="text" placeholder="Username" required>
		<input class="text-input" name="password" type="password" placeholder="Password" required>
		<input type="submit" value="Submit">
	</form>
	</div>
	<div id="userbar-right">
		<a href="users/new"><h2>SignUp</h2></a>
	</div>
{{/if}}
</div>
<div id="clearer"></div>

<div id="map"></div>
<div id="results" class="panel">
  <h2>Results</h2>
  <ul id="places"></ul>
  <button id="more">More results</button>
</div>


<script type="text/javascript" src="/javascripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
