
<form id="new-user-form" action="/users" method="POST">
	<input name="name" type="text" placeholder="Name" required>
	<br>
	<input name="username" type="text" placeholder="Make a Username" required>
	<br>
	<input name="password" type="password" placeholder="Make a Password" required>
	<br>
	<input name="email" type="email" placeholder="Email" required>
	<br>
	<input type="submit" value="Submit">
</form>