    html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

h2{
  font-size: 18px;
  margin:0;
}

.clearer{
  clear:both;
}
/***********LoginBar***************/

#login-out-bar{
  float:right;
  margin:15px;
  color:#8b8b8b;
}

#login-out-bar a {
  color:#8b8b8b;
}

#logged-in-field{
  display:flex;
}
#logout-button{
  margin-left: 15px;
}
/***********Exercise Page**************/

#individual-ex{
  width:500px;
}


/*************Exercise Table****************/
table{
  min-width:100%;
}

/*************Signup Form******************/
.signup-input-field{
  width: 600px;
}

#signup-form-button{
  width:600px;
}

/*******************WorkoutForm**************/
.workout-form-input{
  width:600px;
}
