    html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h2{
  font-size: 18px;
  margin:0;
}

.clearer{
  clear:both;
}
/***********LoginBar***************/

#login-out-bar{
  float:right;
  margin:15px;
  color:#8b8b8b;
}

#logged-in-field{
  display:flex;
}
/***********Exercise Page**************/

#individual-ex{
  width:500px;
}
