    html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h2{
  font-size: 18px;
  margin:0;
}
/***********Form Field***************/
#login-form{
  width:90%;
  margin: 0 auto;
}

.form-field{
  width: 100%;
  height:40px;
  display:block;
}

#form-button{
  width:100%;
}

#message-text{
  width:100%;
  text-align: center;
}

#status-text{
  width:100%;
  text-align: center;
}